html {
    background-color: #0e191c;
    color: white;
}

strong {
    font-weight: 900;
}

pre {
    padding: 2px;
    color: #8CD1B3;
}

footer {
    text-align: center;
}

section {
    background-color: #233C45;
    padding: 0.75em;
    margin: 1em;
    border-radius: 25px;
}

a {
    color: #7BDEE8;
}

a:hover {
    color: #88F2E4;
}

a:visited {
    color:#959eff;
}

.title{
    text-align: center;
}

.text-block {
    width: 50%;
    margin-left: 25%;
}

.border-long {
    border: 2px solid #8CBDD1;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

.border-short {
    border: 2px solid #8CBDD1;
    width: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}