/* Provides global styling: wanted to try a dark mode color scheme this time. */
html {
    background-color: #0e191c;
    color: white;
}

strong {
    font-weight: 900;
}

pre {
    white-space: pre-wrap; /* code obtained from: https://stackoverflow.com/questions/248011/how-do-i-wrap-text-in-a-pre-tag*/
    padding: 2px;
    color: #8CD1B3;
}

footer {
    text-align: center;
}

/* Divided things into sections so that this code would be more reusable, and make it easier to group items */
section {
    background-color: #233C45;
    padding: 0.75em;
    margin: 1em;
    border-radius: 25px;
}

h2 {
    margin-left: 0.5em;
}

p {
    margin-left: 2em;
}

/* The following styles dictate the unvisited color, the hover color, and visited color for hyperlinks */
a {
    color: #7BDEE8;
}

a:hover {
    color: #aafff4;
}

a:visited {
    color:#959eff;
}

/* Used some classes for further reusability of styles */
.title{
    text-align: center;
}

.text-block {
    width: 50%;
    margin-left: 25%;
}

/* Used CSS to create some borders for decoration */
.border-long {
    border: 2px solid #8CBDD1;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

.border-short {
    border: 2px solid #8CBDD1;
    width: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}