html {
    background-color: beige;
}

code {
    background-color: aliceblue;
    padding: 2px;
    color: maroon;
}

footer {
    margin-left: 25%;
}

section {
    background-color: azure;
    padding: 0.75em;
    margin: 1em;
}

a:hover {
    color: green;
}

a:visited {
    color:darkblue;
}

.title{
    text-align: center;
}

.text-block {
    width: 50%;
    margin-left: 25%;
}

.border-long {
    border: 2px solid blue;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-right: auto;
    margin-left: auto;
}

.border-short {
    border: 2px solid blue;
    width: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}